*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --secondary-text-color: rgb(117, 117, 117);
    --accent-text-color: rgba(33, 150, 243, 1);
    --bg-color:rgb(255, 255, 255);
    --secondary-bg-color: rgba(245, 244, 250, 1) ; 
    --address-link-color:  rgba(255, 255, 255, 0.6)
}

body {
  margin: 0;
  background-color:var(--bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
.link{
  text-decoration: none;
  color: currentColor;
}
.list {
 list-style: none;
 padding: 0;
 margin: 0;
 /* width: 500px; */
 margin-left: auto;
 margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

a {
color: currentColor;
text-decoration: none;
}

button {
font-family: inherit;
font-size: inherit;
cursor: pointer;
}

img { 
display: block;
/* max-width: 100%;
height: auto; */
  /* margin: 0; */
}
 

.container {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
 
  /* outline:2px solid tomato */
}


/* header styles */
.header{

}
.header-container{
display: flex;
align-items: center;
padding-top: 18px;
padding-bottom: 18px;
}

.logo { 
  margin-right: 93px;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);

}

.logo-black { 
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

}
.header{
 display: flex;
 border-bottom: 1px solid rgba(236, 236, 236, 1);
  
}

.nav{
  display: flex;
}
.nav-list{
  display: flex;
  align-items: center;
  margin-right: 344px;

}
.nav-list-link{
  color: var(--primary-text-color);
  font-family: 'Roboto';
   font-weight: 500;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.02em;

}



.nav-item:not(:last-child) {
margin-right: 50px
}

   /* .nav li{
  margin-right: 50px */
  

.nav a { 
  text-decoration: none;
  

}
 

.nav a:hover,
.nav a:focus {
  color:var(--accent-text-color); 

}

.contacts-nav a {
gap: 50px;
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

}
.contacts-nav {
display: flex;
gap: 50px;
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-text-color);
}




/* HERO SECTION */

.main-button {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
/* display: flex; */
align-items: center;
text-align: center;
letter-spacing: 0.06em;
  margin-left: 492px;
  background-color: var(--accent-text-color);
  color: var(--bg-color);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border:transparent
  
}

.hero{
 
}
.hero-container{
  max-width: 1230px;
  height: 600px;

  background-color: rgba(47, 48, 58, 1);
}
.hero-title {
 width:696px;
font-size: 44px;
line-height: 1.4;
color: var(--secondary-bg-color);
text-align: center;
text-transform: uppercase;
padding-top: 200px; 
margin-bottom: 30px;
margin-left: auto;
margin-right: auto;
  
}

/* ADVANTAGE SECTION */
.advantage {

}

.advantage-container{
width: 1170px
height:260px;
padding:96px 15px;
padding-top:96px;
padding-bottom: 96px;

}
.advantage-list {
  display: flex;
  gap:30px;

 
}

.advantage-list-item {
/* width: 98px; */
}
.advantage-list-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
  margin-bottom: 10px;
 


}
.advantage-describ {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}


/* OFFERS */
.offers-container {
padding-bottom: 95px;
}
.offers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
  text-align: center;
}
.offers-list{
  display: flex;
  gap: 30px;
  justify-content: space-around;
  /* margin-bottom: 95px; */
}


/* TEAM */
.section-team  {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
   background-color: var(--secondary-bg-color)
   
 }
 .team-list {
   display: flex;
   gap: 30px;
   justify-content: space-around;
 }
 .team-card{


 }
 .team-card-descibtion{ 
background-color: var(--bg-color);
padding: 30px 60px;

 }
 .team {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   margin-bottom: 10px;
   text-align: center;
 }
 .team-position {
  text-align: center;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   color: var(--secondary-text-color);
 }

 
/* footer styles */
.footer {
 /* width: 1230px; */
background-color: rgba(47, 48, 58, 1);

  
}
.footer-container {
  /* max-width: 1170px; */
  background-color: rgba(47, 48, 58, 1);
padding-top: 60px;
padding-bottom: 60px;
}
.footer-logo{
  padding-bottom: 20px;
}
   
.logo-white { 
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color:var(--bg-color);

 
}
.address{
 text-decoration: none;
 list-style: none;
}
.address-map{
font-style: normal;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
margin-bottom: 9px;

}
.address-contacts { 
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--address-link-color);
  
}


.address a:hover, .address a:focus {
  color: var(--accent-text-color);
}


/* PORTFOLIO page styles */
.filters-container{
  display: flex;
  gap: 8px;


}
.filters{
  display: inline-flex;
  padding-top: 94px;
  padding-bottom: 50px;
}
.filters-btn {
  background-color: rgba(245, 244, 250, 1);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  display: inline;

    }
.filters-btn:hover, .filters-btn:focus{
  color: var(--bg-color);
  background-color: var(--accent-text-color);

}
.section-products{ 
  padding-bottom: 94px;
  
}
.projects-container {

}

.project-list{
  display: flex;
flex-wrap: wrap;
gap: 30px;
}
.project-list-item{
flex-basis: calc((100% - 30px * 2) / 3);
}

.project-name-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid  rgba(238, 238, 238, 1)

}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
}
.project-task {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color ); 
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgba(238, 238, 238, 1) */
}


